# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Build files
dist/
build/

# Debug files
*.test
coverage/

# Miscellaneous
*.swp
git.txt